<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/layout/header :: header">
  </head>

  <body>
	
	<nav th:replace="/layout/header :: navbar"></nav>
	<div class="container">
	<div class="row">
    <div class="col-lg-12 text-center">
        <h1 th:text="${hotel.name}"></h1>

				<input class="rating form-control" th:field="${hotel.stars}" data-disabled="true" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/>
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-3 fotorama" data-nav="thumbs" data-allowfullscreen="true" data-autoplay="true">
            <img th:each="i : ${images}" class="img" th:attr="src=${i.image},alt=${i.alt}" />
    </div>
<!-- TODO: tady se bude odehravat hlasovani -->
    <div class="col-lg-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategorie</th>
                    <th class="text-center">Hodnocení</th>
<!--                     <th class="text-center">Počet hlasujících</th> -->
                </tr>
            </thead>
            <tbody>
            	<tr>
            	<td>Ubytování</td><td>				
            	<input class="rating form-control" th:field="*{review.reviewAccommodation}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Prostředí</td><td>				
            	<input class="rating form-control" th:field="*{review.reviewEnviroment}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Jídlo</td><td>				
            	<input class="rating form-control" th:field="*{review.reviewFood}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Cena</td><td>				
            	<input class="rating form-control" th:field="*{review.reviewPrice}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Celkem</td><td>				
            	<input class="rating form-control" th:field="*{review.reviewComplete}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            </tbody>
            
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <h2 class="text-center">Popis</h2>
        <p th:utext="${hotel.description}"></p>
    </div>

    <div class="col-lg-offset-9 text-center">
        <h2>Adresa hotelu</h2>
        <p th:text="${hotel.name}"></p>
        <p th:text="${hotel.address.city}"></p>
        <p th:text="${hotel.address.district}"></p>
        <p th:text="${hotel.address.street}"></p>        
        <p th:text="${hotel.address.streetNumber}"></p>
        <p th:text="${hotel.address.zipCode}"></p>
        <p><a class="text-center" th:href="${hotel.website}">WebSites</a>
        </p>
    </div>




</div>
	
	
	
	
		<hr />

   
  <!-- Footer -->
        <footer th:replace="/layout/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->

	<div th:replace="/layout/footer :: scripts">
	</div>
	<script type="text/javascript">
	$("#hotel.stars").rating({
		showCaption: false	
	});
	</script>

</body>

</html>