<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/layout/header :: header">
</head>

<body>
	
	<nav th:replace="/layout/header :: navbar"></nav>

	<div class="container">
	
		<form accept-charset="utf-8" action="#" th:action="@{/updateHotel/}"
			th:object="${hotel}" method="post" name="hotel" data-toggle="validator"	>
			
			<h2 th:if="*{description}">Editace hotelu: <span th:text="*{name}"></span></h2>
			<h2 th:unless="*{description}">Přidání nového hotelu</h2>
			
			<div class="form-group">
				<input type="hidden" th:field="*{hotelId}" /> 
				<label for="name">Název:</label>
				<input class="form-control" type="text" th:field="*{name}" required="required" />
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
			</div>
			<div class="form-group">
				<label for="website">Webová stránka</label> 
				<input class="form-control" type="text" th:field="*{website}" placeholder="www.neco.cz" required="required" />
				<div class="help-block with-errors"></div>
				<span th:if="${#fields.hasErrors('website')}" th:errors="*{website}">Name Error</span>
			</div>
			<div class="form-group">
				<label for="stars">Hvězd: </label>
				<input class="rating form-control" th:field="*{stars}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/>
			</div>
			<div class="form-group">
			<select class="form-control" th:field="*{type.typeId}">
				<option th:each="t : ${types}" th:value="${t.typeId}"  th:text="${t.description}"
					 >Types</option>
			</select>
			</div>
			<div class="form-group">
				<label for="description">Popis: </label>
				<textarea class="form-control"
					th:field="*{description}"></textarea>
			</div>

			<div class="form-group">
				<label for="address.city">Město: </label> <input type="text"
					class="form-control" 
					th:field="*{address.city}" required="required"/>
			</div>
			
			<div class="form-group">
			<select class="form-control" th:field="*{address.district.districtId}">
				<option th:each="d : ${districts}" th:value="${d.districtId}"  th:text="${d.name}"
					 >Districts</option>
			</select>
			</div>


			<div class="form-group">
				<label for="address.street">Ulice: </label> <input type="text"
					class="form-control" required="required"
					th:field="*{address.street}" />
			</div>

			<div class="form-group">
				<label for="address.streetNumber">Číslo popisné: </label> <input type="text"
					class="form-control" required="required"
					th:field="*{address.streetNumber}" />
			</div>

			<div class="form-group">
				<label for="address.zipCode">PSČ: </label> <input type="text"
					class="form-control" required="required"
					th:field="*{address.zipCode}" />
			</div>
			
			<div>
			
			
			</div>
			
			
			<div id="dropanbula" class="dropzone form-group">
			
			</div>
			



			<div class="checkbox">
			  	
  				<input type="checkbox" th:field="*{equipment.internet}" />
  				<label th:for="${#ids.prev('equipment.internet')}">Internet</label>
  				
  				
  				<label th:for="${#ids.next('equipment.parking')}">
  				<input type="checkbox" th:field="*{equipment.parking}" />Parkování</label>
  				
 				<label th:for="${#ids.next('equipment.pets')}">
  				<input type="checkbox" th:field="*{equipment.pets}" />Zvířata</label>
  				
  				<label th:for="${#ids.next('equipment.pool')}">
  				<input type="checkbox" th:field="*{equipment.pool}" />Bazén</label>

			</div>
			<div class="checkbox">
				<label th:for="${#ids.next('equipment.restauration')}">
  				<input type="checkbox" th:field="*{equipment.restauration}" />Restaurace</label>
  				
  				<label th:for="${#ids.next('equipment.saloon')}">
  				<input type="checkbox" th:field="*{equipment.saloon}" />Společenská místnost</label>
  				
 				<label th:for="${#ids.next('equipment.wellness')}">
  				<input type="checkbox" th:field="*{equipment.wellness}" />Wellness</label>
  				
  				<label th:for="${#ids.next('equipment.wheellchairAccess')}">
  				<input type="checkbox" th:field="*{equipment.wheellchairAccess}" />Bezbarierový přístup</label>
			
			</div>
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />

			<button id="send" th:if="${hotel.description}" type="submit" name="edit">Edit</button>
			<button id="send" th:unless="${hotel.description}" type="submit" name="add">Přidat hotel</button>
		</form>






		<hr />


	<div id="id01"></div>

		<!-- Footer -->
		<footer th:replace="/layout/footer :: footer"> </footer>

	</div>
	<!-- /.container -->

	<div th:replace="/layout/footer :: scripts">
	</div>
	
	<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
	<script type="text/javascript">tinymce.init({ 
			selector: 'textarea', 
		  	language: 'cs_CZ',
		  	entity_encoding : "numeric" 
	});</script>
	<script type="text/javascript" th:src="@{/resources/js/dropzone.min.js}"></script>
	<script th:unless="${hotel.website}" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function(){           
		$(window).bind('beforeunload', function() {
		  $.ajax({
		    async: false,
		    type: 'DELETE',
		    url: [[@{/deleteEmptyHotel/(id=${hotel.hotelId})}]],
		    headers: { "X-CSRF-HEADER": [[${_csrf.parameterName}]],
				"X-CSRF-TOKEN": [[${_csrf.token}]]}
		    });
		  }); 
	});
/*]]>*/
</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	                 
     
	$("#stars").rating({
		showCaption: false	
	});
	
			
	Dropzone.options.dropanbula = {
	        url: [[@{/updateHotelsImages/}]],
			paramName: 'file', // The name that will be used to
	        maxFilesize: 15000000000, // M
	        uploadMultiple: true,
	        parallelUploads: 100,
	        maxFiles: 100,
	        autoProcessQueue: false,
	        addRemoveLinks: true,
	        createImageThumbnails: true,
	        clickable: true,
	        headers: { "X-CSRF-HEADER": [[${_csrf.parameterName}]],
	        			"X-CSRF-TOKEN": [[${_csrf.token}]]},
	        acceptedFiles: "image/*",
	        
	        	init: function() {
	        	    var myDropzone = this;
	        	    
	        	   
	        	    var xmlhttp = new XMLHttpRequest();
	        	    var urlko = [[@{/getImages/(id=${hotel.hotelId})}]];

	        	    xmlhttp.onreadystatechange = function() {
	        	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	        	            var myArr = JSON.parse(xmlhttp.responseText);
	        	            myFunction(myArr);
	        	        }
	        	    };
	        	    xmlhttp.open("GET", urlko, true);
	        	    xmlhttp.send();
					
	        	    
	        	    
	        	    function myFunction(arr) {
	        	        var i;
	        	        var vel = 1250;
	        	        for(i = 0; i < arr.length; i++) {
	        	        	 var mockFile = { name: arr[i].image, size: vel}; // here we get the file name and size as response 

	        	        	 myDropzone.options.addedfile.call(myDropzone, mockFile);
	        	        	 
	        	        	 myDropzone.createThumbnailFromUrl(mockFile, arr[i].image);
	        	        }
	        	        
	        	    }
	        	    
	        	    
	        	    
	        	    // First change the button to actually tell Dropzone to process the queue.
	        	    	window.document.getElementById("send").addEventListener("click", function(e) {
	        	      // Make sure that the form isn't actually being sent.
	        	       $(window).unbind('beforeunload');
	        	      
	        	       e.preventDefault();
		        	      if (myDropzone.files.length > 0){
			        	      myDropzone.processQueue();
		        	      }else{
		        	    	  document.hotel.submit();
		        	      }
	        	      //document.hotel.submit();
	        	    });
	        	    
	        	 // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
	        	    // of the sending event because uploadMultiple is set to true.
	        	    this.on("sendingmultiple", function(file, xhr, formData) {
	        	    	
	        	    	formData.append("id", [[${hotel.hotelId}]]);
	        	      // Gets triggered when the form is actually being sent.
	        	      // Hide the success button or the complete form.
	        	    });
	        	    this.on("sending", function(file, xhr, formData) {
	        	    	//formData.append("id", [[${hotel.hotelId}]]); 
		        	      // Gets triggered when the form is actually being sent.
		        	      // Hide the success button or the complete form.
		        	    });
	        	    this.on("successmultiple", function(files, response) {
	        	    	document.hotel.submit();
	        	    	// Gets triggered when the files have successfully been sent.
	        	      // Redirect user or notify of success.
	        	    });
	        	    this.on("errormultiple", function(files, response) {
	        	    	document.hotel.submit();
	        	    	// Gets triggered when there was an error sending the files.
	        	      // Maybe show form again, and notify user of error
	        	    });
	        	  }
	};
	
	/*]]>*/
	</script>

</body>

</html>
