<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/layout/header :: header">
  </head>

  <body>
	
	<nav th:replace="/layout/header :: navbar"></nav>
	<div class="container">
	<div class="row">
    <div class="col-lg-12 text-center">
        <h1 th:text="${hotel.name}"></h1>

				<input class="rating form-control" th:field="${hotel.stars}" data-disabled="true" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/>
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-3 fotorama" data-nav="thumbs" data-allowfullscreen="true" data-autoplay="true">
            <img th:each="i : ${images}" class="img" th:attr="src=${i.image},alt=${i.alt}" />
    </div>
<!-- TODO: tady se bude odehravat hlasovani -->
    <div class="col-lg-9">
    <div>

  <!-- Nav tabs -->


</div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">Celkové hodnocení</a></li>
    <li sec:authorize="hasRole('ROLE_USER')" role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Vaše hodnocení</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="complete"><table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategorie</th>
                    <th class="text-center">Hodnocení</th>
<!--                     <th class="text-center">Počet hlasujících</th> -->
                </tr>
            </thead>
            <tbody>
            	<tr>
            	<td>Ubytování</td><td>				
            	<input class="rating form-control" data-disabled="true" th:field="${reviews.reviewAccommodation}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Prostředí</td><td>				
            	<input class="rating form-control" data-disabled="true" th:field="${reviews.reviewEnviroment}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Jídlo</td><td>				
            	<input class="rating form-control" data-disabled="true" th:field="${reviews.reviewFood}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Cena</td><td>				
            	<input class="rating form-control" data-disabled="true" th:field="${reviews.reviewPrice}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Celkem</td><td>				
            	<input class="rating form-control" data-disabled="true" th:field="${reviews.reviewComplete}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            </tbody>
            
        </table></div>
    <div role="tabpanel" class="tab-pane" id="custom">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategorie</th>
                    <th class="text-center">Hodnocení</th>
<!--                     <th class="text-center">Počet hlasujících</th> -->
                </tr>
            </thead>
            <tbody>
            	<tr>
            	<td>Ubytování</td><td>				
            	<input class="rating form-control" id="ac" th:field="${review.reviewAccommodation}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Prostředí</td><td>				
            	<input class="rating form-control" id="en" th:field="${review.reviewEnviroment}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Jídlo</td><td>				
            	<input class="rating form-control" id="fo" th:field="${review.reviewFood}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Cena</td><td>				
            	<input class="rating form-control" id="pr" th:field="${review.reviewPrice}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            	<tr>
            	<td>Celkem</td><td>				
            	<input class="rating form-control" id="co" th:field="${review.reviewComplete}" data-min="0" data-max="5" data-step="1" 
				 glyphicon="true"/></td>
            	</tr>
            </tbody>
            
        </table>
        
      </div>

  </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <h2 class="text-center">Popis</h2>
        <p th:utext="${hotel.description}"></p>
    </div>

    <div class="col-lg-offset-9 text-center">
        <h2>Adresa hotelu</h2>
        <p th:text="${hotel.name}"></p>
        <p th:text="${hotel.address.city}"></p>
        <p th:text="${district.name}"></p>
        <p th:text="${hotel.address.street}"></p>        
        <p th:text="${hotel.address.streetNumber}"></p>
        <p th:text="${hotel.address.zipCode}"></p>
        <p><a class="text-center" th:href="${hotel.website}">WebSites</a>
        </p>
    </div>




</div>
<!--         <div th:fragment="sub" th:remove="tag">
            <ul>
                <li th:each="option : ${menu.options}" >
                    <span th:text="${option.label}">Town hall</span>
                    <div th:with="menu = ${option}" th:include="::sub" th:remove="tag" />
                </li>
            </ul>
        </div> 


	<div th:with="prewNode = 0">
		<ul th:each="f : ${forum}">
			<ul th:if="${f.depth != 0 and prewNode &lt; f.depth and prewNode !=0}">
			
			</ul>
		
		</ul>
	</div>  
	<section layout:fragment="menu">
        <ul>
        	<th:block th:each="menuItem : ${menuItemsList}">
        	<th:block th:if="${menuItem.menuId == id}">
        	<th:block th:if="${menuItem.menuId == id}">
            	<li th:with="level=${menuItem.depth}" th:text="${menuItem.name}">
            	 
                	<section th:unless="${menuItem.depth == level and menuItem.depth &lt; level}" layout:include=":: menu" th:with="menuItemsList=${menuItem.children}"></section>
            	</li>
           <th:block th:if="${menuItem.menuId == id}">	
          </th:block>
          </th:block>
        </ul> 
    </section>
	 
	         <div>
            <th:block th:with="prewNode = 0">
            
            <ul id="menu">
            <th:block th:each="menuItem : ${menuItemsList}">
            <th:block th:if="${menuItem.depth != 0}">
            <th:block th:if="${prewNode &lt; menuItem.depth}">
            <th:block th:if="{$prewNode != 0}">
                                <ul>
              </th:block>
                                <li th:text="${menuItem.name}">
                   </th:block>        
                                <th:block th:if="${prewNode &eq; menuItem.depth}">
                                </li>
                                <li th:text="${menuItem.name}">
                                </th:block>       
                                <th:block th:if="${prewNode &gt; menuItem.depth}">
                                <th:block th:with="kolik = ${prewNode - menuItem.depth}">
                                <th:block th:each="i : ${#numbers.sequence( 0, ${kolik})}">
                                    </li>
                                </ul>
                            </th:block>
                            </th:block>
                            </li th:with="prewNode = ${menuItem.depth}">                          
                            <li th:text="${menuItem.name}"> 
                            </th:block> 
                        </th:block>
                    </th:block>
                </li>
            </ul>
            </th:block>
        </div>   
        
        
        
        
        
	 -->
	 <div id="forum"></div>
		<hr />

   
  <!-- Footer -->
        <footer th:replace="/layout/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->

	<div th:replace="/layout/footer :: scripts">
	</div>
	<script th:inline="javascript">
$("#hotel.stars").rating({
		showCaption: false	
	});
</script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
	<script sec:authorize="hasRole('ROLE_USER')" th:inline="javascript">
	/*<![CDATA[*/
	
	function getCom(){
		
	    var xmlhttp = new XMLHttpRequest();
	    var urlko = [[@{/getCom/(id=${hotel.hotelId})}]];
	    xmlhttp.open("GET", urlko, true);
	    xmlhttp.setRequestHeader("X-CSRF-HEADER", [[${_csrf.parameterName}]]);
	    xmlhttp.setRequestHeader("X-CSRF-TOKEN", [[${_csrf.token}]]);

	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            var myArr = JSON.parse(xmlhttp.responseText);
	           	if(myArr.length > 0){
	           		debugger;
	           		com(myArr);
	           	}
	            
	        }
	    };
	    
	    xmlhttp.send();
		
		
	}
	$( document ).ready(function (){

	    $("#forum").append( "<textarea id='com' class='form-control'></textarea><button id='but' type='button'>Click Me!</button>" );
		getCom();
		
		tinymce.init({ 
			selector: 'textarea',
		  	language: 'cs_CZ',
		  	entity_encoding : "numeric" 
		});
		
		$( "#but" ).on( "click", function() {
			
			$.ajax({
			    async: false,
			    type: 'POST',
			    data: {
			    	idUser: [[${user.userId}]],
					body: tinyMCE.activeEditor.getContent({format : 'raw'}),
			    	ancestor: 0,
			    	depth: 1,
			    	idHotel: [[${hotel.hotelId}]]
			    },
			    url: [[@{/createComment}]],
			    headers: { "X-CSRF-HEADER": [[${_csrf.parameterName}]],
					"X-CSRF-TOKEN": [[${_csrf.token}]]},
				success: function (xhr) {
				    getCom();
			    }
			});
	});
	
	});
	function com(itemsList){
		$("#forum").html("");
		var prewNode = 0;
		var div = "<ul id='menu' class='media-list' > ";
		for(var i = 0; i < itemsList.length; i++) {
			if(itemsList[i].depth != 0){
				if(prewNode < itemsList[i].depth){
					if(prewNode != 0){
						div += "<ul> "
					}
					div += "<li class='media'> <div class='media-left'> <a href='#'> <img class='media-object' src='...'></a>";
				    div += "</div> <div class='media-body'> <h4 class='media-heading'>"+ itemsList[i].user.name + " napsal</h4>"+ itemsList[i].body +"</div>";
				}
				
				if(prewNode == itemsList[i].depth){
					div += "</li> ";
					div += "<li class='media'> <div class='media-left'> <a href='#'> <img class='media-object' src='...'></a>";
				    div += "</div> <div class='media-body'> <h4 class='media-heading'>"+ itemsList[i].user.name + " napsal</h4>"+ itemsList[i].body +"</div>";
				}
				
				if(prewNode > itemsList[i].depth){
					for(var j = 0; j < (prewNode - itemsList[i].depth); j++){
						div += "</li> </ul> ";	
					}
					
					div += "</li> ";
					div += "<li class='media'> <div class='media-left'> <a href='#'> <img class='media-object' src='...'></a>";
				    div += "</div> <div class='media-body'> <h4 class='media-heading'>"+ itemsList[i].user.name + " napsal</h4>"+ itemsList[i].body +"</div>";
				}
				prewNode = itemsList[i].depth;
			}
			
		}
		div += "</li> </ul> ";	
		$("#forum").html(div);

	}
	
	/*]]>*/
	</script>
	<script sec:authorize="hasRole('ROLE_USER')" th:inline="javascript">
	/*<![CDATA[*/
	var field = '';
	var val = 0;
	function post(){
		
		$.ajax({
		    async: false,
		    type: 'POST',
		    data: {
		    	idUser: [[${user.userId}]],
				name: field,
		    	value: val,
		    	idHotel: [[${hotel.hotelId}]]
		    },
		    url: [[@{/updateReview}]],
		    headers: { "X-CSRF-HEADER": [[${_csrf.parameterName}]],
				"X-CSRF-TOKEN": [[${_csrf.token}]]},
			success: function (xhr) {
			    var xmlhttp = new XMLHttpRequest();
			    var urlko = [[@{/updateReviewComplete/(id=${hotel.hotelId})}]];
			    xmlhttp.open("GET", urlko, true);
			    xmlhttp.setRequestHeader("X-CSRF-HEADER", [[${_csrf.parameterName}]]);
			    xmlhttp.setRequestHeader("X-CSRF-TOKEN", [[${_csrf.token}]]);

			    xmlhttp.onreadystatechange = function() {
			        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			            var myArr = JSON.parse(xmlhttp.responseText);
			            myFunction(myArr);
			            
			        }
			    };
			    
			    xmlhttp.send();
				
				}
		    });
		
		
	}
		
	
		function myFunction(arr) {
			$('#reviewPrice').rating('update', arr.reviewPrice);
			$('#reviewFood').rating('update', arr.reviewFood);
			$('#reviewEnviroment').rating('update', arr.reviewEnviroment);
			$('#reviewAccommodation').rating('update', arr.reviewAccommodation);
			$('#reviewComplete').rating('update', arr.reviewComplete);

	    }
		
		
		
		
	$("#ac").on('rating.change', function(event, value, caption) {
		field = 'accommodation';
		val = value;
		post();
		  }); 
	$("#co").on('rating.change', function(event, value, caption) {
		field = 'complete';
		val = value;
		post();
		  });
	$("#fo").on('rating.change', function(event, value, caption) {
		field = 'food';
		val = value;
		post();
		  });
	$("#pr").on('rating.change', function(event, value, caption) {
		field = 'price';
		val = value;
		post();
		  });
	$("#en").on('rating.change', function(event, value, caption) {
		field = 'enviroment';
		val = value;
		post();
		  });
	
	
	
	/*]]>*/
	</script>
	
		<script type="text/javascript">
		</script>
</body>

</html>