<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/layout/header :: header">
  </head>

  <body>
	
	<nav th:replace="/layout/header :: navbar"></nav>

    <div class="container">
		<form action="#" data-th-action="@{/updatePerson}"
			data-th-object="${person}" method="post">
			<table class="box-table-a">
				<thead>
					<tr>
						<th>Jmeno</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<input type="text" hidden="hidden" data-th-field="${person.personId}"  />
						<td><input type="text" data-th-field="${person.name}" data-th-value="${person.name}" /></td>
					</tr>
					<tr>					
						<td>
							<button th:if="${person.name}" type="submit">Edit</button>
							<button th:unless="${person.name}" type="submit">Add</button>
						</td>
						
					</tr>
				</tbody>
			</table>
		</form>






		<hr />

      
    
   
  <!-- Footer -->
        <footer th:replace="/layout/footer :: footer">
        </footer>

    </div>
    <!-- /.container -->

	<div th:replace="/layout/footer :: scripts">
	</div>

</body>

</html>
   